.gallery {
  width: auto;
  height: auto;
  display: flex;
  justify-content: space-around;
  margin: 2rem;
  align-items: center;
  padding: 2rem;
}

.gallery-head {
  font-size: 8rem;
  padding: 1rem 3rem;
  font-weight: bold;
  rotate: 180deg;
  writing-mode: vertical-lr;
  border-left: 2px solid #a3dae0;
  vertical-align: middle;
}

.swiper {
  width: 80vw;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: contain; /* Preserve the aspect ratio */
  height: auto;
  display: flex;
  justify-content: center;
}

.swiper-slide img {
  object-fit: contain; /* Scale the image while preserving its aspect ratio */
  max-width: 100%; /* Limit the width to prevent overflow */
  max-height: 500px; /* Restrict height for laptops */
  width: auto; /* Maintain the aspect ratio */
  align-items: center;
  vertical-align: middle;
}

@media only screen and (max-width: 850px) {
  .gallery {
    flex-direction: column;
    padding: 0;
    justify-content: center;
  }

  .gallery-head {
    width: 100%;
    font-size: 3rem;
    writing-mode: horizontal-tb;
    rotate: 0deg;
    border-bottom: 2px solid #a3dae0;
    border-left: none;
    padding: 0.5rem 0;
  }

  .swiper {
    width: 95vw; /* Adjust swiper width for smaller screens */
    padding: 0;
  }

  .swiper-slide img {
    max-height: 300px; /* Reduce height for mobile devices */
  }
}
